<footer class="footer bg-dark text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <p>Kontakti: <br>
          Adrese: Rīgas iela 1. <br>
          Telefons: 12345678 <br>
          Darbalaiks: 24/7 <br>
          Email: demo@gmail.com <br>
        </p>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav footer-nav">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('veikals') }}">Veikals</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav footer-nav">
          <li class="nav-item"><a class="nav-link" href="/">Sākums</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="text-end">
          <a href="https://twitter.com/" class="social-link" target="_blank"><i class="bi bi-twitter fs-2"></i></a>
          <a href="https://www.facebook.com/" class="social-link" target="_blank"><i class="bi bi-facebook fs-2"></i></a>
          <a href="https://www.instagram.com/" class="social-link" target="_blank"><i class="bi bi-instagram fs-2"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-3">
        <p class="text-body-secondary">© 2023 Company, Inc</p>
      </div>
    </div>
  </div>
</footer>
